body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f6f8;
}

.container{
    max-width:800px;
    margin:40px auto;
    background:#ffffff;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    color:#213d77;
}

h3{
    color:#555;
    margin-top:-10px;
}

h2{
    color:#fb792b;
    margin-top:25px;
}

p{
    line-height:1.6;
    color:#333;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}

a{
    color:#213d77;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

@media(max-width:600px){
    .container{
        margin:15px;
        padding:20px;
    }
}
